<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subject">
            <h2><span>Subject</span> {{ subject.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ subject.code }}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ subject.title }}</span>
                </dd>
                <dt><span>Instance</span></dt>
                <dd>
                    <div *ngIf="subject.instance">
                        <a [routerLink]="['/instance', subject.instance?.id, 'view']">{{ subject.instance?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subject', subject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
