<div>
    <h2 id="page-heading">
        <span>Person Instances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person-instance" [routerLink]="['/person-instance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Person Instance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="personInstances?.length === 0">
        <span>No personInstances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personInstances && personInstances.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personInstance of personInstances ;trackBy: trackId">
                    <td><a [routerLink]="['/person-instance', personInstance.id, 'view']">{{ personInstance.id }}</a></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person-instance', personInstance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/person-instance', personInstance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personInstance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
